/*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {

    /* Skills Section */

    #front-end {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    
    #back-end {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }
    
    #project-management {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }
    
    #accessibility {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }

    /* Projects Section */

    #projects-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-self: start;
    }

    #project1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    #project2 {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    #project3 {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

}

/*
*************
D E S K T O P
*************
*/

@media only screen and (min-width: 1024px) {

    /* Nav Area */

    i.fab.fa-pagelines {
        font-size: 52px;
        margin: -5px 5px;
    }

    nav {
        display: grid;
        grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: center;
    }

    #just-the-links {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding: 0px 0px 10px 0px;
    }

    .list-nav-links {
        /* height: 100px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        /* align-items: flex-end; */
        top: 10px;
        position: absolute;
    }

    /* Padding Fix for Desktop Nav */
    
    #desktop-home {
        padding: 0px 390px;
    }

    #desktop-about-me {
        padding: 0px 280px;
    }

    #desktop-skills {
        padding: 0px 200px;
    }

    #desktop-projects {
        padding: 0px 100px;
    }

    #desktop-contact {
        padding: 0px 10px;
    }

    i.fas.fa-bars {
        display: none;
    }

    i.fab.fa-pagelines {
        font-size: 52px;
        padding: 20px;
    }
    
    /* Document-Wide */

    h1 {
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        justify-content: center;
        font-size: 64px;
        padding: 190px 0px 0px 0px;
    }

    /* Home Section */

    #home-section {
        height: 450px;
    }

    /* About Me Section */

    #about-me-section {
        padding-top: 490px;
    }

    /* Skills Section */

    #front-end {
        grid-column: 1 / 2;
        grid-row: 1 / 5;
    }
    
    #back-end {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }
    
    #project-management {
        grid-column: 3 / 4;
        grid-row: 1 / 5;
    }
    
    #accessibility {
        grid-column: 4 / 5;
        grid-row: 1 / 5;
    }

    /* Projects Section */

    #projects-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-self: start;
        padding: 20px 0px 0px 0px;
    }

    #project1 {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    #project2 {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

    #project3 {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
    }
}