/*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {

    /* Skills Section */

    #front-end {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    
    #back-end {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }
    
    #project-management {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }
    
    #accessibility {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }

}

/*
*************
D E S K T O P
*************
*/

@media only screen and (min-width: 1024px) {

    /* Nav Area */

    /* nav {
        display: grid;
        grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: center;
        /* gap: 15px;
    } */

    #just-the-links {
        display: grid;
        grid-template-columns: repeat(5 1fr);
        grid-template-rows: 1fr;
    }

    .list-nav-links {
        display: flex;
        justify-content: flex-end;
    }

    li {
        display: grid;
    }

    i.fas.fa-bars {
        display: none;
    }

    i.fab.fa-pagelines {
        font-size: 52px;
        padding: 20px;
    }
    
    /* Document-Wide */

    h1 {
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        justify-content: center;
        font-size: 64px;
    }

    /* Home Section */

    #home-section {
        height: 450px;
    }

    /* About Me Section */

    #about-me-section {
        padding-top: 500px;
    }

    /* Skills Section */

    #front-end {
        grid-column: 1 / 2;
        grid-row: 1 / 5;
    }
    
    #back-end {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }
    
    #project-management {
        grid-column: 3 / 4;
        grid-row: 1 / 5;
    }
    
    #accessibility {
        grid-column: 4 / 5;
        grid-row: 1 / 5;
    }
}