/* D E S I G N - E L E M E N T S */

/* *** Potential Fonts ***

The Nautigal
Cinzel
Tangerine
Nothing You Could Do */


/* *** Potential Color Palette ***
    Dark Green: #203335 (Outer Space Crystals)
    Medium Green: #62977E (Russian Green)
    Light Green: #B2BEAB (Laurel Green)
    Dusky: #806F73 (Old Lavender)
*/

/* U N I V E R S A L - S E C T I O N */

* {
    text-align: center;
    margin: 0 0;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

#logo-placeholder {
    color: white;
    text-decoration: none;
}

div {
    background-color: #203335;
    color: white;
}

/* T I T L E - A N D - N A V I G A T I O N - B A R */

#home-section {
    background-image: 
        linear-gradient(rgba(
        0, 0, 0, 0.7), rgba(
        0, 0, 0, 0.7)), url('https://images2.imgbox.com/52/d0/D9Swwk9c_o.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 30vh;
    color: white;
    text-align: center;
    z-index: auto;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.list-nav-links {
    text-align: right;
    font-size: 20px;
    /* Adjust this number to change shaded height of nav links */
    height: 4.425vh;
    margin: 0px 25px;
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon-holder {
    height: 8vh;
}

#full-nav-bar {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    z-index: 2;
    /* Can't do vh here bc it will cover whole succulent all the time */
    /* height: 30vh; */
}

#just-the-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
}

li {
    list-style-type: none;
}

i.fas.fa-bars {
    display: flex;
    display: flex-end;
    text-align: right;
    padding: 0px 15px;
    margin: 0px 10px 0px 0px;
    color: white;
}

#hamburger-link {
    text-decoration: none;
}

i.fab.fa-pagelines {
    font-size: 52px;
    padding: 20px;
}

/* M A I N - S E C T I O N S */

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 38px;
    text-align: center;
    padding: 110px 0px 10px 0px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    text-align: center;
    padding: 25px;
}

.narrow {
    padding: 10px 80px;
}

/* Home Section */

#name-and-tagline {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* About Me Section */

#about-me-section {
    padding-top: 35vh;
}

.brand-statement {
    padding: 20px;
}

/* Skills Section */

#skills-section {
    padding-top: 6vh;
}

.skill-heading {
    padding: 10px;
    color: #B2BEAB;
}

#skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-self: start;
}

#front-end {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

#back-end {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

#project-management {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

#accessibility {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}

/* Icons for Skills Section */

i.fas.fa-code {
    font-size: 32px;
    padding-top: 5vh;
    color: #B2BEAB;
}

i.fas.fa-terminal {
    font-size: 32px;
    padding-top: 5vh;
    color: #B2BEAB;
}

i.fas.fa-project-diagram {
    font-size: 32px;
    padding-top: 5vh;
    color: #B2BEAB;
}

i.fas.fa-universal-access {
    font-size: 32px;
    padding-top: 5vh;
    color: #B2BEAB;
}

/* Projects Section */

#projects-section {
    padding-top: 5vh;
}

/* Contact Me Section */

#contact-me-section {
    padding-top: 5vh;
}

.contact-me {
    padding: 20px;
}

#email-me {
    background-color: #B2BEAB;
    padding: 10px;
    border-radius: 20px;
}