/* D E S I G N - E L E M E N T S */

/* *** Fonts ***

    H1: Cormorant Unicase
    Body: Quicksand
*/


/* *** Old Color Palette ***
    Dark Green: #203335 (Outer Space Crystals)
    Medium Green: #335257 (Dark Slate Gray)
    Light Green: #62977E (Russian Green)
    Lightest Green: #B2BEAB (Laurel Green)
    Dusky: #806F73 (Old Lavender)
*/

/* *** New Color Palette ***

    Darkest: Charleston Green: #1C2C2E
    Dark: Dark Slate Gray: #2A504C
    Meduium: Dark Slate Gray: #326059
    Light: Laurel Green: #99B095
    Rosy Brown: #B18981 
*/

/* U N I V E R S A L - S E C T I O N */

html {
    font-size: 125%
}

body {
    font-size: 1em;
}

h1 {}

* {
    text-align: center;
    margin: 0 0;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 20px; */
}

#logo-placeholder {
    color: white;
    text-decoration: none;
}

div {
    background-color: #1A3534;
    color: white;
}

.succulent {
    position: relative;
    top: 4vh;
}

/* T I T L E - A N D - N A V I G A T I O N - B A R */

#home-section {
    background-image: 
        linear-gradient(rgba(
        0, 0, 0, 0.5), rgba(
        0, 0, 0, 0.5)), url('https://images2.imgbox.com/64/0a/bdtifdin_o.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 40vh;
    color: white;
    text-align: center;
    z-index: auto;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.list-nav-links {
    text-align: right;
    font-size: 1em;
    /* Adjust this number to change shaded height of nav links */
    height: 6vh;
    margin: 0px 25px;
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger-link {
    text-decoration: none;
}

/* Inside Nav Grid are: 1. Icon Holder, 2. Hamburger Icon, 3. #just-the-links */
.nav-grid {
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#icon-holder {
    height: 6vh;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#hamburger-holder {
    background-color: rgba(0, 0, 0, 0);
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

i.fas.fa-bars {
    color: #99B095;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-items: center;
    padding: 0px 22px;
}

#full-nav-bar {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    z-index: 2;
    /* Can't do vh here bc it will cover whole succulent all the time */
    /* height: 30vh; */
}

#just-the-links {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
}

li {
    list-style-type: none;
}

#logo {
    font-size: 2.6em;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding: 0px 8px;
}

/* M A I N - S E C T I O N S */

h1 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 1.9em;
    text-align: center;
    padding: 130px 0px 5px 0px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #99B095;
}

h3 {
    text-align: center;
    font-size: 1.2em;
    padding: 25px;
}

.narrow {
    padding: 20px 100px;
}

ul {
    padding: 0;
}

/* H O M E - S E C T I O N */

#name-and-tagline {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#one-line-brand {
    padding: 5px 0px 0px 0px;
}

/* I M A G E - I N S I D E - D I V S */

/* About Me Image */

#under-about-me {
    display: inline-block;
    background-color: #1A3534;
    width: 100%;
    margin: -2vh;
}

#under-about-me.span {
    display: block;
    background-color: #2A504C;
}

.succulent {
    display: inline-block;
    margin: -1vh;
}

/* Skills Image */

#under-skills {
    display: inline-block;
    background-color: #2A504C;
    width: 100%;
    margin: -2vh;
}

#under-skills.span {
    display: block;
    background-color: #1A3534;
}

/* Projects Image */

#under-projects {
    display: inline-block;
    background-color: #1A3534;
    width: 100%;
    margin: -2vh;
}

#under-about-me.span {
    display: block;
    background-color: #2A504C;
}

/* A B O U T - M E - S E C T I O N */

#about-me-section {
    padding-top: 45vh;
}

.brand-statement {
    padding-top: 2vh;
    padding-bottom: 3vh;
}

#quote {
    display: none;
}

/* S K I L L S - S E C T I O N */

#skills-section {
    background-color: #2A504C;
    padding-top: 9vh;
    padding-bottom: 5vh;
}

.skill-heading {
    padding: 10px;
    color: #99B095;
}

li.skills-list {
    text-align: center;
}

#skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-self: start;
}

#front-end {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: #2A504C;
}

#back-end {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    background-color: #2A504C;
}

#project-management {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    background-color: #2A504C;
}

#accessibility {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    background-color: #2A504C;
}

#idi {
    color: white;
    text-decoration: none;
}

#idi:hover {
    color: #99B095;
}

/* Icons for Skills Section */

i.fas.fa-code {
    font-size: 1.6em;
    padding-top: 5vh;
    color: #99B095;
}

i.fas.fa-terminal {
    font-size: 1.6em;
    padding-top: 5vh;
    color: #99B095;
}

i.fas.fa-project-diagram {
    font-size: 1.6em;
    padding-top: 5vh;
    color: #99B095;
}

i.fas.fa-universal-access {
    font-size: 1.6em;
    padding-top: 5vh;
    color: #99B095;
}

/* P R O J E C T S - S E C T I O N */

#projects-section {
    padding-top: 9vh;
    padding-bottom: 3vh;
}

#img-project1 {
    opacity: 0.7;
}

#img-project1:hover {
    opacity: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px -2px #1C2C2E;
}

#img-project2 {
    opacity: 0.7;
}

#img-project2:hover {
    opacity: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px -2px #1C2C2E;
}

#img-project3 {
    opacity: 0.7;
}

#img-project3:hover {
    opacity: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px -2px #1C2C2E;
}

/* C O N T A C T - M E - S E C T I O N */

#contact-me-section {
    background-color: #2A504C;
    padding-top: 9vh;
    padding-bottom: 5vh;
}

.contact-me {
    padding-top: 4vh;
    padding-bottom: 2vh;
    margin: 0px 0px 15px 0px;
}

.button {
    background-color: #99B095;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #1A3534;
    opacity: 0.7;
}

.button:hover {
    opacity: 1;
}

/* F O O T E R */

footer {
    background-color: #1A3534;
    color: #99B095;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

/* Social Media Icons */

#social-media-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 3vh;
}

.fa-github {
    padding: 0px 20px;
}
.fa-linkedin {
    padding: 0px 20px;
}
.fa-envelope {
    padding: 0px 20px;
}

.social-link {
    color: white;
    text-decoration: none;
}
