/* D E S I G N - E L E M E N T S */

/* *** Potential Fonts ***

The Nautigal
Cinzel
Tangerine
Nothing You Could Do


*** Potential Color Palette ***

    Darkest Grey: #393D3F ("Onyx")
    Teal: 
*/

/* U N I V E R S A L - S E C T I O N */

* {
    text-align: center;
    margin: 0 0;  
}

#logo-placeholder {
    color: white;
    text-decoration: none;
}

div {
    background-color: grey;
}

/* T I T L E - A N D - N A V I G A T I O N - B A R */

#home-section {
    background-image: 
        linear-gradient(rgba(
        0, 0, 0, 0.5), rgba(
        0, 0, 0, 0.5)), url('https://images2.imgbox.com/52/d0/D9Swwk9c_o.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 30vh;
    color: white;
    text-align: center;
    z-index: auto;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.list-nav-links {
    text-align: right;
    font-size: 20px;
    /* Mess with this number to fix shaded height of nav links */
    height: 5vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon-holder {
    height: 5vh;
}

#full-nav-bar {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    z-index: 2;
    /* Can't do vh here bc it will cover whole succulent all the time */
    /* height: 30vh; */
}

#just-the-links {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    list-style-type: none;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    
}

li {
    list-style-type: none;
    display: none;
}

i.fas.fa-bars {
    display: flex;
    display: flex-end;
    text-align: right;
    padding: 0px 15px;
    margin: 0px 10px 0px 0px;
    color: white;
}

#hamburger-link {
    text-decoration: none;
}

i.fab.fa-pagelines {
    font-size: 52px;
    padding: 20px;
}

/* M A I N - S E C T I O N S */

/* Home Section */

#name-and-tagline {
    background-color: rgba(0, 0, 0, 0);
    /* position: sticky; */
    text-align: center;
    position: absolute;
    width: 100%;
    /* height: 30vh; */
    z-index: 1;
}

#about-me-section {
    padding-top: 32vh;
}

/* Icons for Skills Section */

i.fas.fa-code {
    font-size: 32px;
}

i.fas.fa-terminal {
    font-size: 32px;
}

i.fas.fa-project-diagram {
    font-size: 32px;
}

i.fas.fa-universal-access {
    font-size: 32px;
}

h1 {
    text-align: center;
    padding: 110px 0px 10px 0px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.narrow {
    padding: 0px 80px;
}